<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
<title>움직이자, 성장하자, 발전하자, 가자 제발, 통합</title>
</head>
<body>

[21.03.13 토요일]
1. 카페24 가상 서버 호스팅 구매.

[21.12.29 수요일]
1. 타임리프 레이아웃 설정하기
- 의존성 2개 설정

<dependency>
  <groupId>org.springframework.boot</groupId>
  <artifactId>spring-boot-starter-thymeleaf</artifactId>
</dependency>

<dependency>
  <groupId>nz.net.ultraq.thymeleaf</groupId>
  <artifactId>thymeleaf-layout-dialect</artifactId>
</dependency>

와 레이아웃 설정이 되질 않는다.
레이아웃이 되면 좋은데?
왜 안되지?
아이씨 오류도 안뜨고 인터넷에 나와있는대로 한 거 같은데 뭐 어떡하냐
그러면 일단 레이아웃 설정은 포기하고 다른 것부터 진행해야겠다.
밀리지 않게끔.
현상유지. 현재유지.

레이아웃 설정하는데 있어서 인터넷에 나와있는 정보에서 이전 정보와 최선 정보가 혼합되어있다.
공식사이트에서 확인을 해야되는데 영어가 약해서 글이 잘 안보인다.



</body>
</html>