<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">
	<meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
	<title>움직이자, 성장하자, 발전하자, 가자, 통합, 답을 찾아서.</title>
	
	<style type="text/css" th:src="@{js/jquery/ui-1.12.1/jquery-ui.css}"></style>
	<style type="text/css" th:src="@{js/jquery/ui-1.12.1/jquery-ui.structure.css}"></style>
	<style type="text/css" th:src="@{js/jquery/ui-1.12.1/jquery-ui.theme.css}"></style>
	
	<script type="text/javascript" th:src="@{js/jquery/jquery-3.3.1.js}"></script>
	<script type="text/javascript" th:src="@{js/jquery/ui-1.12.1/jquery-ui.js}"></script>
	
</head>    

</html>